*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bcbceb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .card{
    display: flex;
    align-items: stretch;
    width: 600px;
    position: relative;
}
@media screen and (max-width:992px){
    body .card{
        display: flex;
        flex-direction: column;
    }
}
body .card::after{
    content: "";
    width: 200px;
    height: 200px;
    background-color: rgb(67, 32, 124);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -100px;
    z-index: -1;
}
@media screen and (max-width:992px){
    body .card::after{
        background-color: white;
    }
}
@media screen and (max-width:768px){
    body .card::after{
        display: none;
    }
}
body .card::before{
    content: "";
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -100px;
    z-index: -1;
}
@media screen and (max-width:992px){
    body .card::before{
        background-color: rgb(67, 32, 124);
    }
}
@media screen and (max-width:768px){
    body .card::before{
        display: none;
    }
}

body .card .box-left{
    width: 40%;
    height: 550px;
    background-color: rgb(67, 32, 124);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}
@media screen and (max-width:992px){
    body .card .box-left{
        width: 100%;
        height: 180px;
        padding: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }
}

body .card .box-left .logo{
    display: flex;
    align-items: center;
}
body .card .box-left .logo img{
    width: 30px;
    height: 30px;
    margin: 20px 0 0 15px;
}
@media screen and (max-width:992px){
    body .card .box-left .logo img{
        width: 40px;
        height: 40px;
    }
}
body .card .box-left .logo span{
    color: white;
    margin: 25px 0 0 5px;
    font-size: 17px;
}
@media screen and (max-width:992px){
    body .card .box-left .logo span{
        font-size: 20px;
    }
}
body .card .box-left .title{
    color: white;
    margin: 90px 0 0 15px;
    font-size: 18px;
}
@media screen and (max-width:992px){
    body .card .box-left .title{
        margin-top: 40px;
        font-size: 20px;
    }
}

body .card .box-left .title span{
    border-bottom: 2px solid rgb(228, 32, 140);
}
body .card .box-left .subTitle{
    color: rgba(255,255,255,.7);
    margin: 40px 0 0 15px;
    font-size: 14px; 
}
@media screen and (max-width:992px){
    body .card .box-left .subTitle{
        margin: 12px 0 0 15px;
        font-size: 16px;
    }
}
body .card .box-right{
    width: 60%;
    height: 550px;
    background-color: rgb(243, 243, 243);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position:relative;
    padding: 40px 70px 40px 40px;
}

@media screen and (max-width:992px){
    body .card .box-right{
        width: 100%;
        border-radius: 4px;
    }
}
@media screen and (max-width:768px){
    body .card .box-right{
        width: 100%;
        border-radius: 4px;
        padding: 50px;
    }
}
body  .card .box-right i{
    font-size: 20px;
    color: rgb(107, 107, 107);
}
body .card .box-right .title{
    margin: 15px 0 0 0;
    font-weight: 600;
    font-family: sans-serif;
}


body .card .box-right form{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1850px) and (min-width:993px){
    body .card .box-right form .field{
        width: 100%;
    }
}
@media screen and (max-width:992px){
    body .card .box-right form .field{
        width: 80%;
    }
}
body .card .box-right form .field label{
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 7px;
    color: rgb(102, 102, 102);
}

body .card .box-right form .field input{
    width: 100%;
    background-color: white;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(224, 221, 221);
    height: 35px;
    border-radius: 4px;
}
@media screen and (max-width:992px){
    body .card .box-right form .field input{
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 13px;
        margin-bottom: 10px;
    }
}
body .card .box-right form input:focus{
    border-color: rgb(81, 81, 212);
}
body .card .box-right form button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(67, 32, 124);
    color: white;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 4px;
}
@media screen and (max-width:992px){
    body .card .box-right form button{
        width: 80%;
    }
}
body .card .box-right .guide{
    margin-top: 50px;
    text-align: right;
    position: relative;
    left: 40px;
}
@media screen and (max-width:660px) and (min-width:300px){
    body .card .box-right .guide{
        font-size: 17px;
        text-align: center;
        left: 0;
    }
}
body .card .box-right .guide a{
    text-decoration: none;
}